
[submodule "ansible-playbook-templates"]
	path = ansible-playbook-templates
	url = https://github.com/allroundtesters/ansible-playbook-templates.git


[submodule "qmeta-md-docsites"]
	path = qmeta-md-docsites
	url = https://github.com/qdriven/qmeta-md-docsites.git


[submodule "go-templates"]
	path = go-templates 
	url = https://github.com/qdriven/go-templates.git
[submodule "qworkspace"]
	path = qworkspace
	url = https://github.com/qdriven/qworkspace.git

